@import url('https://api.fontshare.com/v2/css?f[]=satoshi@1,900,700,500,301,701,300,501,401,901,400,2&display=swap');

* {
  color: white;
  font-family: 'Satoshi', sans-serif;
  font-weight: 800;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #151515;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.div-hero-wrapper {
  width: 100%;
  min-height: 100vh;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.div-hero {
  padding: 0 20px;
}

.div-hero a {
  margin-top: 32px;
  background-color: white;
  padding: 12px 24px;
  border-radius: 64px;
  border: none;
  color: black;
  font-size: 16px;
  transition: all 300ms;
}

.div-hero a:hover {
  box-shadow: 0 0 32px 0 white;
  color: black;
}

.div-navbar {
  flex-direction: row;
  justify-content: start;
  height: 40px;
  width: 100%;
  max-width: 960px;
}

.div-navbar-left{
  align-items: start;
  width: 15%;
  padding-left: 20px;
}

.div-navbar-right {
  flex-direction: row;
  justify-content: end;
  gap: 16px;
  width: 85%;
  padding-right: 20px;
}

.div-section {
  width: 100;
  min-height: 100vh;
  justify-content: space-around;
  padding: 120px 0;
  position: relative;
  z-index: 2;
}

.div-section div {
  padding: 0 20px;
}

.div-section-price {
  width: 100%;
  min-height: 100vh;
  gap: 120px;
  padding: 120px 0;
  position: relative;
  z-index: 2;
}

.div-section-price-heading {
  padding: 0 20px;
}

.div-price-holder {
  flex-direction: row;
  width: calc(100% - 40px);
  max-width: 920px;
  gap: 20px;
  padding: 20px;
}

.div-price {
  align-items: start;
  width: 33%;
  border-radius: 6px;
  background-color: #33333380;
  backdrop-filter: blur(100px);
  /* border: 1px solid rgba(100, 100, 100, 0.35); */
  box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

.div-price p {
  text-align: start;
}

.div-forfree {
  border-radius: 4px;
  background: #0579E4;
  padding: 4px 16px;
  margin-bottom: 12px;
}

.div-forfree p {
  color: white;
}

.div-price-line {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.div-price-space {
  width: 100%;
  height: 64px;
}

.div-price-check {
  flex-direction: row;
  gap: 12px;
  height: 32px;
}

.div-lection-wrapper {
  width: 100%;
}

.div-lection-text {
  width: calc(100% - 40px);
  max-width: 920px;
  align-items: start;
  margin-top: 120px;
}

.div-lection-holder {
  flex-direction: row;
  justify-content: start;
  width: calc(100% - 40px);
  max-width: 920px;
  gap: 20px;
}

.a-lection {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 50%;
  background: #1f1f1f;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 20px;
  padding-right: 24px;
}

.a-lection:hover {
  transform: translateX(-6px);
  background: #303030;
}

.a-lection p {
  text-align: left;
  pointer-events: none;
}

.backgroundnone {
  background: #15151500;
}

.backgroundnone:hover {
  background-color: #15151500;
  cursor: default;
}

.div-lection-albumcover {
  height: 100px;
  aspect-ratio: 1;
  flex-shrink: 0;
  border-radius: 6px;
  margin-right: 24px;
  pointer-events: none;
}

.bartender {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 999999;
}

.bar {
  height: 20%;
  width: 100%;
  background-color: black;
  animation: tend 500ms ease-in-out forwards;
  transform: translateX(-100%);
  animation-play-state: paused;
}

.bar-out {
  height: 20%;
  width: 100%;
  background-color: black;
  animation: tend-out 500ms ease-in-out forwards;
  transform: translateX(0%);
}

@keyframes tend {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes tend-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.bar:nth-child(2) {
  animation-delay: 100ms;
}

.bar:nth-child(3) {
  animation-delay: 200ms;
}

.bar:nth-child(4) {
  animation-delay: 300ms;
}

.bar:nth-child(5) {
  animation-delay: 400ms;
}

.bar-out:nth-child(2) {
  animation-delay: 100ms;
}

.bar-out:nth-child(3) {
  animation-delay: 200ms;
}

.bar-out:nth-child(4) {
  animation-delay: 300ms;
}

.bar-out:nth-child(5) {
  animation-delay: 400ms;
}

.purple {
  background: linear-gradient(134deg, #3B239A 0%, #CBC270 186.77%);
}

.green {
  background: linear-gradient(136deg, #239A68 0%, #CBC270 120.79%);
}

.orange {
  background: linear-gradient(137deg, #E96216 0%, #A0B86E 115.14%);
}

.div-space {
  width: 100%;
  height: 120px;
}

h1 {
  font-size: 128px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 32px;
  color: rgb(255, 255, 255);
}

p {
  font-size: 16px;
  font-weight: 700;
}

.p-smaller {
  color: #999999;
  font-size: 12px;
  font-weight: 500;
}

.p-section {
  margin-top: 32px;
  max-width: 380px;
}

a {
  font-weight: 700;
  color: white;
  text-decoration: none;
  transition: all 250ms;
}

a:hover {
  color: rgb(142, 142, 142);
}

.div-navbar a:hover{
  letter-spacing: 3px;
  color: white;
}

button {
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 64px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  transition: all 300ms;
  margin: 32px 0 16px 0;
  padding: 12px 24px;
}

button:hover {
  box-shadow: 0 0 32px 0 black;
  cursor: pointer;
}

.img-navbar {
  height: 12px;
}

#blob {
  height: 320px;
  aspect-ratio: 1;
  position: fixed;
  top: 0;
  left: 0;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 30s infinite;
  opacity: 0.8;
  filter: blur(60px);
  z-index: 1;
}

html {
  scroll-behavior: smooth;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.2;
  }
  
  to {
    rotate: 360deg;
  }
}

::selection {
  color: none;
  background: none;
}

@media (max-width: 880px) {
  .div-price-holder {
    flex-direction: column;
  }

  .div-price {
    width: calc(100% - 40px);
    max-width: 280px;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .div-hero h1 {
    font-size: 96px;
  }
}

@media (max-width: 640px) {
  .div-hero h1 {
    font-size: 16vw;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 12px;
  }

  a {
    font-size: 12px;
  }

  .div-navbar-right {
    display: none;
  }

   .a-lection {
    padding-right: 12px;
    margin-top: 16px;
  }

  .div-lection-text {
    margin-top: 60px;
  }

  .p-section {
    margin: 12px 0 32px 0;
  }

  .div-lection-albumcover {
    height: 64px;
    margin-right: 12px;
  }
}

@media (max-width: 360px) {
  .div-lection-wrapper h3{
    text-align: left;
  }

  .div-lection-holder {
    flex-direction: column;
    gap: 0;
  }

  .a-lection {
    width: 100%;
  }
}

/*

   /\_/\
= ( ⁰w⁰ ) =
   )   (   //
  (__ __) //

*/