@import url('https://api.fontshare.com/v2/css?f[]=satoshi@1,900,700,500,301,701,300,501,401,901,400,2&display=swap');

* {
  font-family: 'Satoshi', sans-serif;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #151515;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.div-wrapper {
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.div-wrapper-start {
  justify-content: start;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.div-rotate {
  display: none;
  width: 100vw;
  height: 100dvh;
  background-color: #151515;
  position: fixed;
  inset: 0;
  z-index: 100;
}

.div-gradient-box-purple {
  flex-direction: column;
  width: 100%;
  height: 320px;
  border-bottom: 1px solid rgba(75, 75, 75, 0.25);
  background: linear-gradient(180deg, #4A3E7C 0%, #33285F 67.17%, #281E50 100%);
  box-shadow: 0px 96px 250px 0px rgba(65, 44, 151, 0.65); 
}

.div-gradient-box-green {
  flex-direction: column;
  width: 100%;
  height: 320px;
  border-bottom: 1px solid rgba(75, 75, 75, 0.25);
  background: linear-gradient(180deg, #269B69 0%, #7BAF6D 100%);
  box-shadow: 0px 96px 250px 0px rgba(121, 175, 109, 0.72);
}

.div-gradient-box-orange {
  flex-direction: column;
  width: 100%;
  height: 320px;
  border-bottom: 1px solid rgba(130, 130, 130, 0.5);
  background: linear-gradient(180deg, #E6671B 0%, #E1C560 100%);
  box-shadow: 0px 96px 250px 0px rgba(226, 194, 94, 0.76);
}

.div-gradient-box-black {
  flex-direction: column;
  width: 100%;
  height: 320px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: linear-gradient(180deg, #030303 0%, #0C0C0C 100%);
  box-shadow: 0px 96px 250px 0px black;
}

.div-gradient-navbar {
  flex-direction: row;
  justify-content: start;
  height: 40px;
  width: 100%;
  max-width: 960px;
}

.div-gradient-navbar-left{
  align-items: start;
  width: 15%;
  padding-left: 20px;
}

.div-gradient-navbar-right {
  flex-direction: row;
  justify-content: end;
  width: 85%;
  padding-right: 20px;
}

.div-gradient-navigation-wrapper {
  flex-direction: row;
  width: 100%;
  max-width: 960px;
  height: 280px;
}

.div-gradient-navigation {
  align-items: start;
  width: 50%;
  padding-left: 20px;
}

.div-gradient-navigation.right {
  align-items: end;
  padding-right: 20px;
}

.div-typing-content {
  flex-wrap: wrap;
  justify-content: space-between;
  background: #1C1C1C;
  padding: 40px;
  border-radius: 8px;
}

.div-typing-wrapper {
  max-width: 960px;
  padding: 20px;
}

.div-typing-wrapper .input-field {
  opacity: 0;
  z-index: -999;
  position: absolute;
}

.div-typing-content .typing-text {
  overflow: hidden;
}

.div-result-details, .div-lection-tutorial {
  align-items: start;
}

.div-lection-name-wrapper {
  flex-direction: row;
  justify-content: start;
  width: calc(100% - 40px);
  max-width: 920px;
  height: 280px;
}

.div-lection-number {
  width: 180px;
  height: 180px;
  flex-shrink: 0;
  border-radius: 6px;
  box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.16); 
  margin-right: 32px;
}

.album-purple {
  background: linear-gradient(134deg, #3B239A 0%, #CBC270 186.77%);
}

.album-green {
  background: linear-gradient(134deg, #239A68 0%, #CBC270 186.77%);
}

.album-orange {
  background: linear-gradient(135deg, #E96216 0%, #E2C35F 100%);
}

.div-difficulty-wrapper {
  width: calc(100% - 40px);
  max-width: 920px;
  margin-top: 64px;
}

.div-difficulty-holder-first{
  flex-direction: row;
  justify-content: start;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid rgba(95, 95, 95, 0.45);;
}

.a-difficulty-holder{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 64px;
  border-radius: 6px;
}

.a-difficulty-holder:hover {
  background-color: rgba(46, 46, 46, 0.65);
}

.div-difficulty-left {
  width: 25%;
  align-items: start;
  padding-left: 20px;
}

.div-difficulty-right {
  width: 50%;
  align-items: end;
  padding-right: 20px;
}

.typing-text::-webkit-scrollbar {
  width: 0;
}

p {
  color: white;
  font-size: 16px;
  font-weight: 700;
}

a {
  font-weight: 700;
  color: white;
  text-decoration: none;
  transition: all 250ms;
}

a:hover {
  letter-spacing: 3px;
}

.div-gradient-navbar-right a {
  margin: 0 16px;
}

h1 {
  font-size: 128px;
  color: white;
}

h2 {
  font-size: 64px;
  color: white;
  text-wrap: balance;
}

h3 {
  font-size: 32px;
  color: white;
}

.typing-text h3 {
  font-size: 32px;
  color: rgb(142, 142, 142);
  text-align: justify;
}

.typing-text h3 span {
  position: relative;
}

.typing-text h3 span.correct {
  color: white;
}

.typing-text h3 span.incorrect {
  color: rgb(195, 78, 78);
}

.typing-text h3 span.active {
  color: #00d2d5;
  animation: blink 1s ease-in-out infinite;
  text-decoration: underline #00d2d5 4px;
}

@keyframes blink {
  50% { 
    text-decoration: #1C1C1C; 
  }
}

.button-tryagain {
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 0;
  font-size: 16px;
  cursor: pointer;
  background: none;
}

.img-navbar {
  height: 12px;
}

::selection {
  color: none;
  background: none;
}

.bartender {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 999999;
}

.bar {
  height: 20%;
  width: 100%;
  background-color: black;
  animation: tend 500ms ease-in-out forwards;
  transform: translateX(-100%);
  animation-play-state: paused;
}

.bar-out {
  height: 20%;
  width: 100%;
  background-color: black;
  animation: tend-out 500ms ease-in-out forwards;
  transform: translateX(0%);
}

@keyframes tend {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes tend-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.bar:nth-child(2) {
  animation-delay: 100ms;
}

.bar:nth-child(3) {
  animation-delay: 200ms;
}

.bar:nth-child(4) {
  animation-delay: 300ms;
}

.bar:nth-child(5) {
  animation-delay: 400ms;
}

.bar-out:nth-child(2) {
  animation-delay: 100ms;
}

.bar-out:nth-child(3) {
  animation-delay: 200ms;
}

.bar-out:nth-child(4) {
  animation-delay: 300ms;
}

.bar-out:nth-child(5) {
  animation-delay: 400ms;
}

@media (max-width: 640px) {
  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 12px;
  }

  a {
    font-size: 12px;
  }

  .div-rotate {
    display: flex;
  }

  .body-no-scroll-mobile {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}